<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple document manager. You can define document types with questions. Then while uploading documents, you will have to answer the associated questions</p>
  <hr class="my-4">
  <p>Powered by Ruby on Rails & React JS.</p>
</div>
